{% extends 'inicio.html' %}

{% load static %}

{% block secciones %}
<div>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detalle del cliente:</h2>
</div>
<div class="container">
  <h5>
    <div class="row">
      <div class="col-1">
     <b>Nombre:</b> 
      </div>
      <div class="col-1">
      {{cliente.nombre}}
      </div>
      <div class="row">
        <div class="col-1">
        <b>Apellido:</b> 
        </div>
        <div class="col-1">
        {{cliente.apellido}}
        </div>
        <div class="row">
          <div class="col-1">
          <b>DNI:</b> 
          </div>
          <div class="col-1">
          {{cliente.dni}}
          </div>
        <div class="row">
            <div class="col-1">
            <b>Telefono:</b> 
            </div>
            <div class="col-1">
            {{cliente.telefono}}
            </div>
            <div class="row">
              <div class="col-1">
                <b>Direccion:</b>
              </div>
              <div class="col-5">
              &nbsp;{{cliente.direccion}}
              </div> 
    </h5>     
  </div>
</div>
<div>
  <center>
</br><a class="btn btn-primary btn-sm" href="{% url 'lista_clientes'  %}" >Volver</a>
</div>
</center>

{% endblock %}

