{% extends 'inicio.html' %}

{% load static %}

{% block secciones %}
<center>
<h1>Indiquenos su consulta.</h1></br>
<h3>Recuerde dejarnos su mail y teléfono. Un asesor lo llamará a la brevedad.</h3></br>

<form action="{% url 'contactenos' %}" method="POST">{% csrf_token %}
 
        <p>Asunto:<input type="text" name="asunto"></p>
        <p>Email:<input type="text" name="email"></p>
        <p>  
            Escriba aqui su consulta:
            <textarea name="mensaje" rows="5" cols="30" style="resize: none;" ></textarea>
        </p>
        <input type="submit"value="Enviar Consulta"/>
    </form>
</center>
{% endblock %}




    <body>
        




    </body>     

</html>