

{% load static %}

{% block secciones %}

<div>
    <center>
    {% if object_list %}

       {% for cliente in object_list %}
            
            <h4>Registrar nueva venta para cliente: {{cliente.nombre}}</h4>

           <a class="btn-info" href="{% url 'nuevaventa' cliente.pk %}">Nueva venta</a>
        {% endfor %}
      
    {% else %}
    
        <h4>Cliente no encontrado</h4>
    
    {% endif %}
</center>
</div></br>
<div>
    <button><a href="{% url 'buscarclienteventa'  %}" >Buscar otro cliente</a><br></button>
    <button><a href="{% url 'lista_clientes'  %}" >Volver a clientes</a></button>
</div>

</center>
{% endblock %}