

{% load static %}

{% block secciones %}


    {% if object_list %}

       {% for cliente in object_list %}
            
            <h4>Registrar nueva venta para cliente: {{cliente.nombre}}</h4>

           <a href="{% url 'nuevaventa' cliente.pk %}">Nueva venta</a>
        {% endfor %}
      
    {% else %}
    
        <h4>Cliente no encontrado</h4>
    
    {% endif %}
    
    
    <button><a href="{% url 'busqueda_cliente'  %}" >Volver a buscar</a><br></button>
    <button><a href="{% url 'lista_clientes'  %}" >Volver a clientes</a></button>



{% endblock %}