{% extends 'inicio.html' %}

{% load static %}

{% block secciones %}
<div><center>
<a class="btn btn-success" href="{% url 'form_cliente' %}">Crear Cliente</a>


<a class="btn btn-primary" href="{% url 'busqueda_cliente' %}">Buscar Cliente</a>
</center>
</div><center>
    
    <h1> 
        
        Lista de Clientes: </h1>

    <ul>
        
        {% for cliente in clientes %}
        
        <h4> <a href="{% url 'detalle_cliente' cliente.id %}">

            {{cliente}}

            </a>
        </h4>
        <div>
            <a class="btn btn-danger btn-sm" href="{% url 'borracliente' cliente.id %}">Eliminar</a>
           
            <a class="btn btn-secondary btn-sm" href="{% url 'clienteupdate' cliente.id %}">Modificar</a>

        
        </div>

        {% endfor %}

    </ul>
</center>
{% endblock %}
